<div class="container">
  <form #form="ngForm" (ngSubmit)="salvar(form)">

    <div class="grid">
      <div class="col-12">
        <h1>{{editando ? 'Edição de': 'Novo'}} Lançamento</h1>
      </div>



      <div class="col-6 md:col-3 p-fluid">
        <label >Data Produção</label>
        <p-calendar name="dataProducao" #dataProducao  dateFormat="dd/mm/yy" [inline]=" false" [readonlyInput]="false" [showIcon]="false" [required]="true" [(ngModel)]="lancamento.dataProducao"></p-calendar>

      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Data Finalização</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" name="dataFinaizacao" name="dataFinalizacao" #dataFinalizacao [(ngModel)]="lancamento.dataFinalizacao"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" ngModel #descricao="ngModel" required minlength="5"  [(ngModel)]="lancamento.descricao">

        <p-message *ngIf="descricao.hasError('required') && descricao.dirty" severity="error" text="Informe uma descrição"></p-message>

      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Quantidade</label>
        <p-inputNumber placeholder="0,00" ngModel [required]="true" name="quantidade" #quantidade="ngModel" [(ngModel)]="lancamento.quantidade"></p-inputNumber>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Máquinas</label>
        <p-dropdown [options]="maquinas" placeholder="Selecione um Model" name="model" #model [required]="true" [(ngModel)]="lancamento.maquina.codigo"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione uma Pessoa" name="pessoa" #pessoa [required]="true" [(ngModel)]="lancamento.pessoa.codigo"></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Obeservação</label>
        <textarea type="text" pInputTextarea rows="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>
    </div>


    <div class="col-12">
      <button pButton type="submit" label="Salvar"  class="p-button-info"  [disabled]="!form.valid" ></button>
      <button pButton type="button" label="Novo" class="p-button-info" (click)="novo(form)" ></button>
      <a routerLink="/lancamento">Volta para a  Pesquisa</a>
    </div>
    <p-toast></p-toast>
  </form>
</div>
